@use '../utils/utils' as *;

.footer{
  padding: 0 0 20px;
  line-height: 24px;
  color: white;
}

.line {
  height: 1px;
  background-color: $tertiary-variant;
  width: 100%;
}

.bottom {
  margin-top: 2rem;
  display: flex;
  font-size: 1.241rem;
  justify-content: space-between;
  padding-inline: clamp(3.94rem, calc(3.13rem + 4.02vw), 6rem);
}

.top {
  padding-inline: clamp(3.94rem, calc(3.13rem + 4.02vw), 6rem);
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.desc {
  max-width: 30%;
  h6 {
    color: $primary-variant;
    font-size: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  }
}

.links {
  p {
    text-align: center;
  }
  div {
    display: flex;
    gap: clamp(5.25rem, calc(3.79rem + 7.32vw), 10rem);
  }
}
