@use '../utils/utils' as *;

.container {
  background-color: $primary-variant;
  width: 100%;
  @include pad-block-tb-md;
  @include pad-inline-xl;
}

.heading {
  h1 {
    padding: 1rem;
    margin: 0;
    @include title;
    font-family: $heading-font;
    color: $secondary-variant;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
  }
  h1:nth-of-type(2) {
    color: $tertiary-variant;
  }
  .image {
    width: 5rem;
  }
  .circle {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr;
    background-color: transparent;
    position: relative;

   padding-top: 1rem;

    svg {
      position: absolute;
      left: 0;
      top: -50%;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    path {
      stroke: $tertiary-variant;
      stroke-width: 8px;
      stroke-dasharray: 0 1500;
      stroke-dasharray: 1500 1500;
    }
  }
}

.desc {
  p {
    color: $tertiary-variant;
    font-family: $body-font;
    font-size: 1.563rem;
  }
}

.wrap {
  @include block-wrap;

  @include pad-inline-xl;
}

.flex {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 2.5rem;
  @media only screen and (max-width: 768px) {
    display: block;
    gap: clamp(2rem, calc(1.9rem + 0.49vw), 2.25rem);
  }
}

.form {
  flex-shrink: 1;
  width: 100%;
  margin-right: auto;
  position: relative;

  .field {
    width: 100%;
    label {
      color: $secondary-variant;
      font-size: 2.2rem;
      font-weight: 600;
    }
    input {
      margin-top: 2.5rem;
      height: 4.8rem;
      width: 100%;
      padding: 1.6rem 0.8rem;
      border: 2px solid #000;
      background-color: transparent;
      &:focus {
        outline: solid 2px $tertiary-variant;
      }
    }
  }

  .submit {
    margin-top: 2.5rem;
    color: $primary-variant;
    position: relative;
    z-index: 3;
    background: $secondary-variant;
    border-color: $tertiary-variant;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 1.6rem 4rem;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.2s linear;
    font-size: 1.563rem;
    &:hover {
      color: $tertiary-variant;
      background: $primary-variant;
      border-color: $tertiary-variant;
      transition: all 0.2s linear;
    }
  }
}
