@use '../utils/utils' as *;

.container {
  padding-top: 9.4rem;

  width: 100%;

  .inner {
    max-width: 141rem;
    margin-inline: auto;
    color: $tertiary-variant;
    .heading {
      margin-top: $space-2xl-3xl;
      h1 {
        @include title;
        color: $primary-variant;
        text-transform: uppercase;
      }
    }
    .desc {
      margin-top: $space-m;
      max-width: 55rem;
    }

    .flex {
      margin-top: $space-2xl-3xl;
      width: 100%;
      display: flex;
      justify-content: space-around;
      gap: $space-2xl-3xl $space-m;
      @include devices(tablet) {
        flex-direction: column;
        align-items: center;
      }

      .flex > * {
        width: 100%;
      }

      .content {
        width: 100%;
        h3 {
          font-size: $space-xl-2xl;
          line-height: 1.3;
          margin-bottom: $space-m-l;
        }
        p {
          font-size: 1.5rem;
        }
      }
      .wrap {
        width: 100%;
        position: relative;
        object-fit: cover;
        overflow: hidden;

        .img {
          filter: grayscale(100%);
          scale: 1.2;
        }
      }
      .wrap:nth-of-type(1) {
        aspect-ratio: 800/533;
      }
      .wrap:nth-of-type(2) {
        aspect-ratio: 266/177;
      }
    }
    .flex:nth-of-type(3) {
      @include devices(tablet) {
        flex-direction: column-reverse;
      }
    }
  }
  .outer {
    @include pad-inline-xl;

    .line {
      height: 1.2px;
      transform-origin: left;
      overflow: hidden;
      background-color: $tertiary-variant;
      margin: $space-s 0 $space-s 0;
    }
  }
  .outer:nth-of-type(2) {
    background-color: $primary-variant;
    padding-bottom: 9.4rem;
    h1,
    p {
      color: $secondary-variant;
    }

    .heading {
      padding-top: 9.4rem;
    }

    .line {
      background-color: $secondary-variant;
    }
  }
}

.teams {
  margin-top: $space-2xl-3xl;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $space-2xxl $space-m;
  justify-content: center;
  color: $tertiary-variant;
  .col {
    display: flex;
    justify-content: center;
    width: 100%;

    .wrap {
      width: 100%;
      margin-inline: auto;
      height: auto;
      p:nth-of-type(1) {
        font-size: 2rem;
        line-height: 1.3;
      }

      .box {
        background: #000;
        aspect-ratio: 1;
        height: auto;
        position: relative;
        display: block;
        filter: grayscale(100%);
        .img {
          aspect-ratio: 9/12;
          height: auto;
          position: relative;
          display: block;
          filter: grayscale(100%);
        }
      }
    }
  }
}
